- if @messages.present?
  - @messages.each do |m|
    %li.chatMessage
      .chatMessage__header
        %p.chatMessage__header__name
          = m.user.name
        %p.chatMessage__header__time
          = m.updated_at
      %p.chatMessage__body
        = m.body
