- if @messages.present?
  - @messages.each do |message|
    %li.chatMessage
      .chatMessage__header
        %p.chatMessage__header__name
          = message.user.name
        %p.chatMessage__header__time
          = message.display_time
      %p.chatMessage__body
        = message.body
