%li.chatMessage
  .chatMessage__header
    %p.chatMessage__header__name
      やくしじ
    %p.chatMessage__header__time
      2016/11/01 09:00:00
  %p.chatMessage__body
    おはよう
%li.chatMessage
  .chatMessage__header
    %p.chatMessage__header__name
      やくしじ
    %p.chatMessage__header__time
      2016/11/01 23:59:59
  %p.chatMessage__body
    こんばんは
