- if @groups.present?
  - @groups.each do |g|
    %li.chatGroup
      = link_to group_messages_path(g), class: "chatGroup__link" do
        %p.chatGroup__link__name
          = g.title
        %p.chatGroup__link__message
          - if g.messages.present?
            = g.messages.last.body
          - else
            まだメッセージがありません。
- else
  %li.chatGroup
    = link_to new_group_path, class: "chatGroup__link" do
      %p.chatGroup__link__name
        まだグループがありません。
