- if @groups.present?
  - @groups.each do |group|
    %li.chatGroup
      = link_to group_messages_path(group), class: "chatGroup__link" do
        %p.chatGroup__link__name
          = group.title
        %p.chatGroup__link__message
          - if group.messages.present?
            = group.last_message
          - else
            まだメッセージがありません。
- else
  %li.chatGroup
    = link_to new_group_path, class: "chatGroup__link" do
      %p.chatGroup__link__name
        まだグループがありません。
