.chat.clearfix
  .chatSide
    .chatUser.clearfix
      %h5
        やくしじ
      .chatUser__actions
        %a.chatUser__action
          %i{class: "fa fa-pencil-square-o"}
        %a.chatUser__action
          %i{class: "fa fa-cog"}
    %ul.chatGroups
      %li.chatGroup
        %a.chatGroup__link
          %p.chatGroup__name
            html/cssをイチから書くのしんどい人のグループ
          %p.chatGroup__message
            こんばんは
      %li.chatGroup
        %a.chatGroup__link
          %p.chatGroup__name
            TECH::ADMIN
          %p.chatGroup__message
            piyo
