.chatSide
  .chatUser
    %h5
      = current_user.name
    .chatUser__actions
      = link_to new_group_path, method: :get, class: "chatUser__actions__action" do
        %i.fa.fa-edit
      = link_to edit_user_registration_path(@user), method: :get, class: "chatUser__actions__action" do
        %i.fa.fa-gear
  %ul.chatGroups
    = render partial: "groups/group"
