.chat.clearfix
  .chatSide
    .chatUser.clearfix
      %h5
        やくしじ
      .chatUser__actions
        %a{class: "chatUser__action"}
          %i{class: "fa fa-pencil-square-o"}
        %a{class: "chatUser__action"}
          %i{class: "fa fa-cog"}
    %ul{class: "chatGroups"}
      %li{class: "chatGroup"}
        %a{class: "chatGroup__link"}
          %p{class: "chatGroup__name"}
            html/cssをイチから書くのしんどい人のグループ
          %p{class: "chatGroup__message"}
            こんばんは
      %li{class: "chatGroup"}
        %a{class: "chatGroup__link"}
          %p{class: "chatGroup__name"}
            TECH::ADMIN
          %p{class: "chatGroup__message"}
            piyo
