.alert{
  width: 100%;
  z-index: 2;

    &__error {
      background-color: #d65f4c;
      color: $mainWhite;
      text-align: center;
    }

    &__notice {
      background-color: #38aef0;
      color: $mainWhite;
      text-align: center;
    }
}
