.chatGroupForm {
  width: 900px;
  margin: 60px auto;
  padding: 40px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #434a54;
  font-weight: 900;

    h1 {
      letter-spacing: 2px;
      font-size: 24px;
      font-weight: 800;
      text-align: center;
    }

    &__field {
      @include clearfix();
      margin-top: 30px;

        &--left {
          float: left;
          width: 25%;
          padding-right: 20px;
          padding-left: 20px;

            label {
              display: block;
              line-height: 50px;
              text-align: right;
            }
        }


        &--right {
          @include clearfix();
          float: right;
          width: 65%;

            #searchResult {
              line-height: 48px;
              padding: 0 2px;
            }

            .searchResult {
              @include clearfix();
              border-bottom: 1px solid #ddd;
              width: 100%;

                &__name {
                  @include clearfix();

                }
            }

            &__users {

                &__user {
                  @include clearfix();
                  line-height: 48px;
                  list-style: none;
                  padding: 0 2px;

                    &__addbtn {
                      display: inline-block;
                      color: #38aef0;
                      float: right;
                      width: 10%;
                      z-index: 7;
                    }

                    &__deletebtn {
                      display: inline-block;
                      color: #f05050;
                      float: right;
                      width: 10%;
                      z-index: 7;
                    }
                }
            }

            input {
              width: 100%;
              line-height: 27px;
              padding: 10px 15px;
              box-sizing: border-box;
            }

            label {
              float: left;
              width: 70px;
            }

            &__btn {

                input {
                  background-color: #38aef0;
                  border: 0;
                  color: $mainWhite;
                  display: inline-block;
                  height: 50px;
                  padding: 0 20px;
                  width: 80px;
                }
            }





            .chat-group-user {
              @include clearfix();

              padding: 0 15px;
              line-height: 50px;
              font-size: 14px;

                &__name {
                  float: left;
                }

                &__btn {
                  float: right;
                  display: inline-block;



                    &--remove {
                      color: #f05050;
                    }
                }
            }
        }
    }
}
