!!!
%html(lang="ja")
  %head
    %meta{ content: 'text/html; charset=UTF-8', http: { equiv: 'Content-Type' } }/
    %title ChatSpace
    = stylesheet_link_tag    'application', media: 'all', data: { turbolinks: { track: true} }
    = javascript_include_tag 'application', data: { turbolinks: { track: true } }
    = csrf_meta_tags
  %body
    / %ul.userInformation
    /     %li.userName
    /         やくしじ
    /     %li
    /         %i.fa fa-edit
    /     %li
    /         %i.fa fa-gear
    .user_groups

    .current_group

    .messages

    .message_box

    = yield
